@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Tourney:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
    background-image: url(../img/1669874019_3-5.png);
    background-repeat: no-repeat;
}
.title {
    font-family: "Alegreya";
    font-size: 56px;
    font-weight: 500;
    font-style:normal;
    margin-bottom: 50px;
    text-decoration: underline;
    text-shadow: 2px 2px 5px red;
    text-transform: uppercase;

}

.text {
    font-family:"Tourney", Times, serif;
    color: #0000ff;    
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px #ffff00;
}

.text_box {
     font-family:"Tourney",serif ;
     font-size: 32px;
     font-weight: 200;
     font-style: normal;
     margin-bottom: 30px;
     color: #ffff00;
    text-shadow: 3px 3px 5px #0000ff;
    

}

.paragraph {
    font-family: "Alegreya";
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 30px;
    color: #03ae03;
}

.last_text {
    font-family:"Alegreya" , serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 30px;  
}


.last_text_box {
font-family: "Tourney",serif;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 30px;
}


.last_paragraph {
    font-family: "Rambla", serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
     margin-bottom: 30px;
    }



.new_ {
    font-family:  "Rambla", fantasy;
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 30px;
    color: cadetblue;
    }


.part {
    font-family: "Alegreya", serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 30px;
}

.first_part {font-family: "Alegreya", serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

.second_part {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 2;
    color: brown;
}

.last_title {
    font-family: "Alegreya";
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
}
.article{
   text-align: center;}