@import url("reset.css");

.title_text {
    color: #e7e756;
    
}

.mark_linc {
    color: #8a2be2;
}

.article_text p{
    color:#0e9b38;
}
.article_text>p{
    color: #2b2a2df5;
}

.linc {
    color: #b22222;
}

.title {
    color: #0c08f7;
}
.return {
    color:#0e9b38;
}
.paragraph,
.article_text{
color: #aae11df5;
}
.return + p {
    color: coral;
}